.ListContainerRow{
    display: flex;
}
.ListContainerCol{
    flex: 23%;
    margin-right: 10px;
    background-color: white;
    border-color: gray;
}
.ListRow{
    padding: 5px;
}
.DeleteBtn{
    width: 60%;
    padding: 0;
    height: 30px;   
}
.CardRow{
    margin: 10px;
}
.AddButton{
    width: 35%;
    padding: 0;
    height: 30px;   
}
.CardRow{
    border: 1px solid black;
    height: 60px;
}